
	<%# name can be anything but must be same in all radio button of one question%>

<input type="radio" onclick="onclick()" id="option1" name="f"  value="Amithsha">
<label for="Amithsha">Amithsha</label><br>
<input type="radio" onclick="onclick()" id="option2" name="f" value="Nimala Sitharam">
<label for="Nimala Sitharam">Nimala Sitharam</label><br>
<input type="radio" onclick="onclick()"  id="option3" name="f" value="Jaishankar">
<label for="Jaishankar">Jaishankar</label>
<h3 id="ans"></h3>
<script>
	function onclick(){
    var ans = document.getElementById('ans');
	if(value == "Jaishankar")
	{
       ans.innerHTML = "correct";
	}
	else{
		ans.innerHTML = "Incorrect";
	}
	}

	</script>

</li>

<li>
<h5>What is PMGKY scheme?</h5>
<input type="radio" id="option1" name="fav_language" value="Giving lands to citizens">
<label for="Giving lands to citizens">Giving lands to citizens</label><br>
<input type="radio" id="option2" name="fav_language" value="Distributing pensions weekly">
<label for="Distributing pensions weekly">Distributing pensions weekly</label><br>
<input type="radio" id="option3" name="fav_language" value="Distributing rice & wheat to citizens">
<label for="Distributing rice & wheat to citizens">Distributing rice & wheat to citizens</label>
</li>

<li>
<h5>What is the planet beside Earth?</h5>
<input type="radio" id="option1" name="fav_language" value="Jupiter">
<label for="Jupiter">Jupiter</label><br>
<input type="radio" id="option2" name="fav_language" value="Mercury">
<label for="Mercury">Mercury</label><br>
<input type="radio" id="option3" name="fav_language" value="Mars">
<label for="Mars">Mars</label>
</li>

<li>
<h5>Largest State in India?</h5>
<input type="radio" id="option1" name="fav_language" value="Amithsha">
<label for="Amithsha">TN</label><br>
<input type="radio" id="option2" name="fav_language" value="Nimala Sitharam">
<label for="Nimala Sitharam">TS</label><br>
<input type="radio" id="option3" name="fav_language" value="Jaishankar">
<label for="Jaishankar">UP</label>
</li>


<li>
<h5>abbreviate UNO ?</h5>
<input type="radio" id="option1" name="fav_language" value="Amithsha">
<label for="Amithsha">United nepotism organisation</label><br>
<input type="radio" id="option2" name="fav_language" value="Nimala Sitharam">
<label for="Nimala Sitharam">United International organisation</label><br>
<input type="radio" id="option3" name="fav_language" value="Jaishankar">
<label for="Jaishankar">United Nations organisation</label>
</li>


<li>
<h5>Largest State in India?</h5>
<input type="radio" id="option1" name="fav_language"  value="Amithsha">
<label for="Amithsha">TN</label><br>
<input type="radio" id="option2" name="fav_language" value="Nimala Sitharam">
<label for="Nimala Sitharam">TS</label><br>
<input type="radio" id="option3" name="fav_language" value="Jaishankar">
<label for="Jaishankar">UP</label>
</li>


<li>
<h5>abbreviate UNO ?</h5>
<input type="radio" id="option1" name="fav_language" value="Amithsha">
<label for="Amithsha">United nepotism organisation</label><br>
<input type="radio" id="option2" name="fav_language" value="Nimala Sitharam">
<label for="Nimala Sitharam">United International organisation</label><br>
<input type="radio" id="option3" name="fav_language" value="Jaishankar">
<label for="Jaishankar">United Nations organisation</label>

</li>
</ol>
